<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="./bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="TimeRecord tests">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>